absl-py==0.9.0
asgiref==3.2.7
astor==0.8.1
astroid==2.3.3
dicom==0.9.9.post1
Django==3.0.4
gast==0.2.2
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
isort==4.3.21
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
numpy==1.18.2
opt-einsum==3.2.0
Pillow==7.0.0
protobuf==3.11.3
pydicom==1.4.2
pylint==2.4.4
pytz==2019.3
PyYAML==5.3.1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
typed-ast==1.4.1
Werkzeug==1.0.0
wrapt==1.11.2
