{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/custom.css">
    
    <title>My Project</title>
</head>
<body id="home" data-spy="scroll" data-target=".navbar" data-offset="100">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
        <div class="container">
            <a class="navbar-brand order-1 mr-0" href="https://github.com/Krishnaveni004" target="_blank"><b>Presented by Team-01</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href=""><b>Home</b></a>
                    <a class="nav-item nav-link" href="/about"><b>About</b></a>
                    <a class="nav-item nav-link" href="/heatmap"><b>Heatmap</b></a>
                </div>
            </div>
        </div>
    </nav>
    <!--end of navbar-->
    
    <!--jumbotron-->
    <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container text-sm-center pt-5">
            <h1 class="display-2">Computer Aided Diagnosis</h1>
            <p class="lead"><b>An aid from the technologists to detect cancer</b></p>
        </div>
    </div>
    <!--jumbotron-->
    
    <div class="container">
        <!--main row-->
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src="{% static 'lung-x-ray2.jpg' %}" class="card-img-top" alt="Vivianne McVue">
                    <div class="card-body">
                        <form action="/predict-dicom/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4 class="card-title text-center">
                                X-ray
                                <button type="submit" class="btn btn-info">Upload</button>
                                <div class="input-group pt-2">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input btn" multiple name="dicom_images" id="dicom_images" aria-describedby="dicom_images">
                                        <label class="custom-file-label btn" for="dicom_images">Choose file</label>
                                    </div>
                                </div>
                            </h4>
                        </form> 
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src="{% static 'biopsy-image.jpeg' %}" class="card-img-top" alt="NodeStradamus">
                    <div class="card-body">
                        <form action="/predict-dicom/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4 class="card-title text-center">
                                Biopsy
                                <button type="submit" class="btn btn-info">Upload</button>
                                <div class="input-group pt-2">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input btn" multiple name="biopsy-image" id="biopsy-image" aria-describedby="dicom_images">
                                        <label class="custom-file-label btn" for="biopsy-image">Choose file</label>
                                    </div>
                                </div>
                            </h4>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src= "{% static 'mammogram-image.png' %}" class="card-img-top" alt="Robbie Redux">
                    <div class="card-body">
                        <form action="/predict-mammogram/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <h4 class="card-title text-center">
                                Mammogram
                                <button type="submit" class="btn btn-info">Upload</button>
                                <div class="input-group pt-2">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input btn" multiple name="mammogram-image" id="mammogram-image" aria-describedby="dicom_images">
                                        <label class="custom-file-label btn" for="mammogram-image">Choose file</label>
                                    </div>
                                </div>
                            </h4>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src="static/ct-scan-image3.jpg" class="card-img-top" alt="Ecma Scriptnstuff">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            CT Scan
                            <button type="submit" class="btn btn-info">Upload</button>
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src="static/mri-scan.png" class="card-img-top" alt="Jay Query">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            MRI Scan
                            <button type="submit" class="btn btn-info">Upload</button>
                        </h4>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <div class="card mb-3">
                    <img src="static/pet-scan.png" class="card-img-top" alt="Json Babel">
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            PET/CT Scan
                            <button type="submit" class="btn btn-info">Upload</button>
                        </h4>
                    </div>
                </div>
                
            </div>
        </div><!-- /main stuff -->
    </div>
    
    <!--footer-->
    <div class="row py-3">
        <div class="col-md text-center">
            <p>&copy; Computer Aided Diagnosis by Team-01</p>
        </div>
    </div>
    <!--footer-->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>